<div class="session-form-wrap">
  <div class="flex-table">
    <h2>ログイン</h2>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :email, placeholder:"e-mail" %>
    </div>
    <div class="input-group mb-3">
      <%= f.text_field :password, placeholder:"password" %>
    </div>
    <div>
      <%= f.submit 'Login' , class:"btn btn-primary btn-sm" %>
    </div>
    <% end %>
  </div>
</div>
<div class="session-form-wrap">
  <%= link_to "アカウントを作成する", new_user_path , class:"btn btn-info btn-sm"%>
</div>
