<h1>ユーザー情報を変更</h1>
<% if @user.errors.any? %>
<div id="errors_explanation">
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
<%= f.label :name, '名前を変更' %>
<%= f.text_field :name, placeholder:"name" %>
<%= f.label :email,'メールアドレスを変更'%>
<%= f.text_field :email, placeholder:"e-mail" %>
<%= f.label :password,'パスワードを変更' %>
<%= f.text_field :password, placeholder:"password" %>
<%= f.label :user_image, 'ユーザー画像を設定' %>
<%= f.file_field :user_image %>
  <% unless @user.user_image.url == nil %>
    <%= image_tag @user.user_image.url %>
  <% end %>
<%= f.submit '登録情報を変更する' %>
<% end %>
