<div>
  <%= notice %>
  <% if @picture.errors.any?  %>
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<div>
  <%= form_with(model: @picture, local: true) do |f| %>
  <%= f.text_field :content, placeholder:"その気持ちをシェアしよう"%>
  <%= f.file_field :image %>
  <%= f.submit %>
  <% end %>
</div>
<div>
  <% @pictures.each do |picture| %>
    <div>
      <div>
      <%= picture.user.name %>
      </div>
      <div>
      <%= picture.content %>
      </div>
      <div>
      <%= image_tag picture.image.url %>
      </div>
      <div>
      <%= picture.created_at %>
      <%= link_to "詳細", picture_path(picture.id) %>
      <%= link_to "削除", picture_path(picture.id), method: :delete %>
      </div>
    </div>
  <% end %>
</div>
