<div>
  <% if @picture.errors.any?  %>
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
</div>
  <%= render 'form' %>
<div>
  <% @pictures.each do |picture| %>
    <div  class="content-card">
      <div class="card-top">
      <% if picture.user.user_image.url == nil %>
      <image src="https://placehold.jp/50x50.png" class="avatar">
      <% else %>
        <%= link_to user_path(picture.user.id) do %>
          <%= image_tag picture.user.user_image.url ,class:"avatar"%>
        <% end %>
      <% end %>
      <span class="user-name"><%= picture.user.name %></span>
      </div>
      <div class="card-content">
      <%= picture.content %>
      </div>
      <div class="picture-space">
      <% unless picture.image.url == nil %>
        <%= image_tag picture.image.url %>
      <% end %>
      </div>
      <div class="card-bottom">
        <span>
        <%= picture.created_at.strftime('%Y/%m/%d %H:%M')  %>
        </span>
        <span>
        <%= link_to "詳細", picture_path(picture.id) %>
        </span>
      </div>
    </div>
  <% end %>
</div>
