<div>
  <% if @picture.errors.any?  %>
  <ul>
    <% @picture.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<div>
  <%= render 'form' %>
</div>
<div>
  <% @pictures.each do |picture| %>
    <div>
      <div>
      <%= picture.user.name %>
      </div>
      <div>
      <%= picture.content %>
      </div>
      <div>
      <% unless picture.image.url == nil %>
        <%= image_tag picture.image.url %>
      <% end %>
      </div>
      <div>
      <%= picture.created_at %>
      <%= link_to "詳細", picture_path(picture.id) %>
      </div>
    </div>
  <% end %>
</div>
